
  h1
  {
    color:rgb(4, 3, 29);


    
    text-align: center;
    margin: 1.5rem;   
    padding-top:1.5rem; 
    
   
  
  }

  body{
    
      font-family: sans-serif;
      font-size: 1.25rem;
       padding:1rem;
       text-align: justify;
       
  } 
  section
  {
     background-color:lightgray;
    padding: 01rem;
    border-style: ridge;
    border-style: dashed;
    border-radius: 2em;
    opacity: 2;
    

  }
  
  .image{
      
      background-repeat: no-repeat;
      background-position: center;
      background-size: cover;
  }
  .color
  {
    color:white;
  }
  #size
  {
    width: 10rem;
    height: auto;
    padding-left: 0rem;
    align-content: center;
  }
  .format{
    border-style: double;
  }
  
#num
{
  text-align: center;
  padding-left: 0.5rem;
}
#text
{
  text-align: right;
  padding-right: 0.5rem;
}
.icon
{
width:3rem;
height:3rem;
padding-top: 0.5rem;
}
h2{
  color:rgb(4, 3, 29);
  font-display: bold;

}
 
.flex-container {
  display: flex;
  height: 3rem;
  flex-wrap: wrap;
  align-content: space-between;
  
}
#container
{
  margin:5rem;
}
#color
{
  color: aquamarine;
}
.input
{
 font-size: :1rem;
 
}
